.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #86a2b5;
}

.main {
  background-color: #86a2b5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  padding: 5%;

}

.App-link {
  color: #61dafb;
}

.navbar{
  background-color: #86a2b5
  ;
  margin-top: 0%;
}

.bx{

  padding: 1%;
  border-radius: 8px;
}

.bx1{
  background-color: #f9e749;
  height: 20vh;
  width: fit-content;
  display: flex;
}
.bx2{
  background-color: #18a1dc
  ;
  height: 50vh;
  width: fit-content;
}

.bx3{
  background-color: #d64d49;
  height: 20vh;
  width: fit-content;
  display: flex;
}
.navh1{
  font-size: 200%;
}

.chart{
  height:100%;
  border-radius: 8px;
}

.factList{
  height: 100%;
  border-radius: 8px;
}

.trendLine{
  height: 100%;
  border-radius: 8px;
}
