.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.main {
  background-color: #282c34;
  min-height: 70vh;
  padding: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  background-color: #F5C232;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #18a1dc;
}

.navbutton {
  color: #f6f6eb;
  background-color: #18a1dc;
}

.bx{
  height:fit-content;
  width: fit-content;
  padding: 1%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bx1{
  background-color: aqua;
}
.bx2{
  background-color: red;
}

.bx3{
  background-color: green;
}