.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.main {
  background-color: #282c34;
  min-height: 70vh;
  padding: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  background-color: yellow;
}

.bx{

  padding: 1%;
  border-radius: 8px;
}

.bx1{
  background-color: aqua;
  height: 20vh;
  width: 20vh;
  display: flex;
  font-size: 60%;

}
.bx2{
  background-color: red;
  height: 50vh;
  width: 50vh;
}

.bx3{
  background-color: green;
  height: 20vh;
  width: 20vh;
  display: flex;
  font-size: 60%;
}
.navh1{
  font-size: 200%;
}